table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  caption {
    font-weight: bold;
    padding-bottom: 10px;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }