@media only screen and (min-width: 56em){
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
    }
    nav {
        flex-direction: row;
    }
    .content {
        margin-left: 200px;
        margin-right: 200px;

    }

}