body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding-top: 80px; /* Espaço reservado para o header fixo */
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}
h2 {
    color: #003366; /* Azul escuro */
}
header {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Garante que o header fique sobre outros elementos */
}

section {
    margin: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
