/* larger.css */
nav .menu-icon {
  display: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  position: static;
  width: auto;
  padding: 0;


}

main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 20px;
}

.hero {
  grid-column: 2 / span 1;
  background-color: #f0f0f0;
  padding: 40px;
  text-align: center;
}

.spotlight {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.join-news {
  grid-column: 1 / span 3;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
