@media only screen and (min-width: 56em){
    .head-grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .head-logo-section{
        grid-template-columns: 1fr 1fr;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
    }
    nav, .head-logo-section {
        flex-direction: row;
    }
    .content {
        margin-left: 200px;
        margin-right: 200px;

    }
/*
** header grid
*/
.header-logo { grid-area: header-logo; }
.header-site-name { grid-area: header-site-name;}
.header-nav { grid-area: header-nav; }
.header-social-media { grid-area: header-social-media; }
.header-date { grid-area: header-date; }

.header-grid-container {
  display: grid;
  grid-template-areas:
    'top-on-header'
    'header-date';
  gap: 10px;
  padding: 10px;
  }

  .top-on-header {
    display: flex;
    gap: 10px;
    padding: 10px;

    align-items:center;
    }
  
/*
** footer grid
*/
.footer-logo { grid-area: footer-logo; height: 150px;}
.footer-info { grid-area: footer-info; }
.footer-date { grid-area: footer-date; }

.footer-grid-container {
  display: grid;
  grid-template-areas:
    'footer-logo footer-info footer-info'
    'footer-date footer-date footer-date';
  gap: 10px;
  padding: 10px;
  }

/*
  ** main  grid
  */
  .event { grid-area: event; height: 200px;}
  .weather { grid-area: weather; height: 200px;}
  .join { grid-area: join; height: 200px; }
  .hero { grid-area: hero; }
  .news-release { grid-area: news-release; }
  .spot-light-1 { grid-area: spot-light-1; }
  .spot-light-2 { grid-area: spot-light-2; }
  .spot-light-3 { grid-area: spot-light-3; }
  .spot-lights {
      grid-area: spot-lights; 
      display: grid;
      grid-template-areas:
        'spot-light-1'
        'spot-light-2'
        'spot-light-3';
      gap: 5px;
      padding: 10px;

    }

  .main-grid-container {
  display: grid;
  grid-template-areas:
    'event hero hero spot-lights'
    'weather hero hero spot-lights'
    'join news-release news-release spot-lights';
  gap: 10px;
  padding: 10px;
  }
  .main-grid-container > div {
    background-color: rgba(169, 214, 254, 0.8);
    text-align: center;
    padding: 20px 0;
  }
  .main-grid-container > .spot-lights {
    padding: 20px 20px;
  }
  .spot-lights > div {
    background-color: rgba(13, 93, 163, 0.888);
    text-align: center;
    padding: 20px 0;
  }
}