:root {
  --primary: #51C4F8;
  --secondary: #4acefb;
  --accent1: #0001BA;
  --accent2: #010c80;
}
body {
  font-family: 'Times New Roman', serif;;
    margin: auto;
    padding: 10px;
  }
.head-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
.top-logo, .footer-logo {
  display: block;
  justify-content: center;
  text-align: left;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
}
nav {
	display: flex;
	flex-direction: column;
	background-color: var(--accent1);
	text-align: center;
  margin: 0 auto;
  margin-top: .5rem;
  font-family: 'Arial', sans-serif;
}
nav a {
	display: block;
	font-size: 1.2rem;
	text-decoration: none;
	color: white;
	text-align: center;
	padding: 20px;
}
nav a:hover, .active {
	background-color: var(--primary);
	color: var(--accent2);
}
h1, h2, .heading {
  font-family: 'Lora', sans-serif;;
 }

header, footer {
    display: flex;
    font-family: 'Lato', sans-serif;;
    color: white;
    padding: 10px;
    text-align: center;
    align-items: center;
    background-color: var(--accent1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  footer{
    color: white;
    margin-top: 20px;
  }
  h1 {
    font-size: 1.75em;
  }
  h2 {
    font-size: 1.25em;
   }
   .last-updated {
    color: white;
    text-shadow: 2px 2px 4px maroon;
  }
 
 .card {
  margin-top: 10px;
  background-color: rgb(235, 255, 216);
  justify-content: center;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

 }

.card-header {
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1.5em;
}
.card-content{
  margin-left: 10px;
  margin-right: 10px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  /*border: 1px solid #dddddd;*/
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #cecece;
}
.primary {
  background-color: var(--primary);
  color: white;
}
.secondary {
  background-color: var(--secondary);
  color: black;
}
.accent-1 {
  background-color: var(--accent1);
  color: white;
}
.accent-2 {
  background-color: var(--accent2);
  color: white;
}
.lato{
  font-family: 'Lato', sans-serif;;
}
.arial{
  font-family: 'Arial', sans-serif;;
}
.lora{
  font-family: 'Lora', sans-serif;;
}
.times{
  font-family: 'Times New Roman', serif;;
}
._40px{
  font-size: 40px;
}
._30px{
  font-size: 30px;
}
._20px{
  font-size: 20px;
}._10px{
  font-size: 10px;
}
._25px{
  font-size: 25px;
}
._15px{
  font-size: 15px;
}
#social-media {
  width: fit-content;
  display: flex;
}
header nav {
  display: flex;
  flex: 1;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.main-grid-container > div {
  background-color: rgba(169, 214, 254, 0.8);
  text-align: center;
  padding: 20px 0;
}
.main-grid-container > .spot-lights {
  padding: 20px 20px;
}
.spot-lights > div {
  background-color: rgba(13, 93, 163, 0.888);
  text-align: center;
  padding: 20px 0;
  
}

    /*
** header grid
*/
.header-logo { grid-area: header-logo; }
.header-site-name { grid-area: header-site-name;}
.header-nav { grid-area: header-nav; }
.header-social-media { grid-area: header-social-media; }
.header-date { grid-area: header-date; }

.header-grid-container {
  display: grid;
  grid-template-areas:
    'top-on-header'
    'header-date';
  gap: 10px;
  padding: 10px;
  }

  .top-on-header {
    display: flex;
    gap: 10px;
    padding: 10px;

    align-items:center;
    }
  
/*
** footer grid
*/
.footer-logo { grid-area: footer-logo; height: 150px;}
.footer-info { grid-area: footer-info; }
.footer-date { grid-area: footer-date; }

.footer-grid-container {
  display: grid;
  grid-template-areas:
    'footer-logo footer-info footer-info'
    'footer-date footer-date footer-date';
  gap: 10px;
  padding: 10px;
  }

/*
  ** main  grid
  */
  .event { grid-area: event; height: 200px;}
  .weather { grid-area: weather; height: 200px;}
  .join { grid-area: join; height: 200px; }
  .hero { grid-area: hero; }
  .news-release { grid-area: news-release; }
  .spot-light-1 { grid-area: spot-light-1; }
  .spot-light-2 { grid-area: spot-light-2; }
  .spot-light-3 { grid-area: spot-light-3; display:none;}
  .spot-lights {
      grid-area: spot-lights; 
      display: grid;
      grid-template-areas:
        'spot-light-1'
        'spot-light-2';
      gap: 5px;
      padding: 10px;

    }

  .main-grid-container {
  display: grid;
  grid-template-areas:
    'hero'
    'event'
    'weather'
    'news-release'
    'join'
    'spot-lights'
;
  gap: 10px;
  padding: 10px;
  }
