@media only screen and (min-width: 32.5em) and (max-width: 56em) {
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 1.5em;
    }
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }

    #lower {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    
    
}