* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
    font-weight: 400;
}

/* mobile **************************/
header {
	background-color: #b2d8d8;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 0 auto;
}

header span {
    font-size: 40px;
}

main {
	max-width: 90%;
	margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
}

h1 {
	font-size: 2rem;
    grid-column: 1 / 3;
    padding: 20px;
}

    
section {
    grid-column: 1 / 3;
}


nav {
	background-color: teal;
	margin: 0 auto;
}
nav ul {
	list-style-type: none;
}
nav a, footer  {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

.last-modification {
    color: white;
}

nav a:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.active {
	background-color: rgba(0, 0, 0, 0.35);
}
.card, header img {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card h2 {
    border-radius: 10px 10px 0px 0px;
    background-color: teal;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;

}

.card ul{
    margin: 20px;
    list-style-type:none;
}

footer {
    background: teal;
    padding: 2rem;
    text-align: center;
  }

  #menu::before {
	content: "≡";
}
#menu {
    position: absolute; /* Allow it to be positioned relative to the header */
    right: 1.25rem; /* 20px / 16 = 1.25rem */
    top: 1.25rem; /* 20px / 16 = 1.25rem */
    font-size: 1.875rem; /* 30px / 16 = 1.875rem */
    text-decoration: none;
    color: black;
}
.navigation {
	list-style: none;
	margin: 0 auto;
    background-color: teal;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: rgba(255, 255, 255, 0.2);
}
.navigation a.active {
    color: white; /* Cor do texto do item ativo */
    background-color: rgba(255, 255, 255, 0.2); /* Fundo destacado para o item ativo */
    font-weight: bold; /* Deixa o texto mais destacado */
    border-bottom: 3px solid  rgba(0, 0, 0, 0.5);; /* Linha inferior para enfatizar ainda mais */
}

#menu.show::before {
	content: "X";
}
/* Mobile: hide menu items initially */
.navigation ul li{
	display: none;
}

/* Show menu items when the 'show' class is added */
.navigation.show ul li {
	display: block;
}