/* Default (Light Mode) */
body {
    background-color: white;
    color: black;
}

/* Dark Mode */
body.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode header, body.dark-mode nav, body.dark-mode footer {
    background-color: #1e1e1e;
}

body.dark-mode #menu, body.dark-mode #darkModeToggle, a.dark-mode {
    color: white;
}
#darkModeToggle {
    position: absolute;
    right: 4rem; /* Position it next to the menu button */
    top: 1.25rem;
    font-size: 1.5rem; /* Adjust button size */
    background: none;
    border: none;
    cursor: pointer;
    color: black; /* Default color */
}

@media (prefers-color-scheme: dark) {
    #darkModeToggle {
        color: white;
    }
}