/* Larger Views ******************************/
@media (min-width: 640px) {

	nav ul li {
		flex: 1 1 100%;
	}

    main {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto 1fr;
    }

    section {
        grid-column: auto;
    }

    .navigation ul {
		display: flex;
	}
	.navigation ul li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
}