/* Larger Views ******************************/
@media (min-width: 640px) {
	nav ul {
		display: flex;
	}

	nav ul li {
		flex: 1 1 100%;
	}

    main {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto 1fr;
    }

    section {
        grid-column: auto;
    }
}