body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
  }
  .center-image {
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
  }
    header, footer {
    padding: 10px;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    background-color: teal;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  footer{
    margin-top: 20px;
  }
  h1 {
    color: teal;
    text-shadow: 2px 2px 4px white;
  }
  h2 {
    text-shadow: 2px 2px 4px grey;
   }
   .last-updated {
    color: orange;
   }